<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>SMG4 Radio Beta Information Status</title>
  </head>
  <body>
    <center>
        <a><img src="https://www.hamqsl.com/solarn0nbh.php"></a>
    </center>
    <a href="https://nztcdn.com/files/b1c7fc3f-c340-4a01-8a91-ebab494502d5.webp">
      <img src="https://vendettathevhsdvrreal.github.io/betasmg4radioweb/SMG4_2023.png" />
     </a>
    <a class="help_button" href="https://stats.uptimerobot.com/DsXQmuYNZv">Server Status SMG4 Radio Beta</a>
    <a class="help_button" href="https://smg4radiobeta.22web.org/radiostations.html"> Redirect to SMG4 Radio Beta</a>
    <a class="help_button" href="https://smg4radiobeta.22web.org/">Server Status SMG4 Radio Beta</a>
    <a class="help_button" href="https://smg4radiobeta.22web.org/radiostations.html/">SMG4 Radio Beta #2</a>
    <a class="help_button" href="https://nztcdn.com/files/b1c7fc3f-c340-4a01-8a91-ebab494502d5.webp">SMG4 Radio Beta #3</a>
    <a class="help_button" href="./test.html">Тест</a>
    
  </body>